<h1>Create a tribe</h1>

<form action="/tribes" method="post">

  <table>
    <tr>
      <td><label for="tribe[name]">Tribe name:</label></td>
      <td><input type="text" name="tribe[name]" required></td>
    </tr>
    <tr>
      <td><label for="tribe[religion_id]">Religion:</label></td>
      <td>
        <select name="tribe[religion_id]" required>
          <% @religions.each do |religion| %>
            <option value="<%= religion.id %>"><%= religion.name %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Create tribe"></td>
    </tr>
  </table>

</form>
