body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  max-width: 50em;
  margin: 5em auto 5em auto;
  background-color: #e0e0e0;
}

main {
  background-color: #bbc;
  height: 100%;
  margin: 0;
  padding: 1.5em;
  border-radius: 0 0 1em 1em;
}

strong {
  font-weight: 500;
}

h1, h2 {
  font-weight: 500;
}

table {
  border: 2px solid #777;
  border-collapse: collapse;
  font-size: 0.9em;
}

th {
  border: 1px solid #777;
  padding: 0.5em;
  background-color: #aaa;
  font-size: 0.8em;
  font-weight: 500;
}

td {
  padding: 0.5em;
  background-color: #e0e0e0;
  border: 1px solid #777;
}

td.input_col {
  border: none;
}

td.input_col form {
  font-size: 0.8em;
}

td:first-child {
  text-align: right;
}

input[type="number"] {
  width: 4em;
}
