<h1>User page for <%= @user.username %></h1>

<% if @user.tribes %>
  <table>
    <thead>
      <tr>
        <th>Tribe</th>
        <th>Diplomacy</th>
      </tr>
    </thead>
    <tbody>
      <% @user.tribes.each do |tribe| %>
        <tr>
          <td><a href="/tribes/<%= tribe.slug %>"><%= tribe.name %></a></td>
          <td><a href="/messengers/new/<%= tribe.id %>">Run a messenger</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This user doesn't own any tribes. What a <em>loser!</em></p>
<% end %>
