<h1>Sign up for SinaTribes</h1>

<form action="/signup" method="post">

  <p><label>Username: <input type="text" name="username" required></label></p>
  <p><label>Email: <input type="email" name="email" required></label></p>
  <p><label>Password: <input type="password" name="password" required></label></p>
  <p><input type="submit"></p>

</form>
