<h1>Welcome to SinaTribes!</h1>

<h2>SinaTribes is a tribe-building simulation game</h2>

<p>Have you ever wanted to create (and grow) a tribe of "human beings"?</p>

<p>Have you ever wanted to crudely manage the collective lives of a small group of "arguably real" "people" with "state of the art" tables, buttons, and input fields?</p>

<p>Have you ever wanted to attack, talk to, and trade with other tribes, managed by people you don't know, over a basic and uninspired (yet web-TASTIC) user interface?</p>

<p>Well, NOW YOU CAN!</p>

<p><a href="/signup">Sign up</a> for SinaTribes if I've convinced you thoroughly enough, or <a href="/login">log in</a> if you've already caught the Tribe Vibe&trade; and you've come back for more o' dem <em>vibes</em>, yo.</p>
