<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SinaTribes: a tribe-building simulation game!</title>
</head>
<body>
  <% if flash.has?(:message) %>
    <div class="flash"><%= flash[:message] %></div>
  <% end %>

  <%= yield %>
</body>
</html>
